<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'mystyle.css' %}">
    <link rel="loadingscreen" href="loadingscreen.html">
    <link rel="checkscreen" href="checkscreen.html">
</head>
    <div>
        {% load static %}
        <img src="{% static 'find_logo.png' %}" class = "centerimage">
    </div>
<form action="checkscreen.html">

    <label class = "centerinput file-upload rcorners1">
        <input type="file" name="filename" id="input" accept=".pdf" required/>
        PDF Upload
    </label>
    <body>
        <button type="submit" id="s" value="Upload" class="button button1 centersubmit" onclick="set()">Find</button>        
    </body>
<p id="randomNumber">is your code</p>
<!-- FIND A WAY TO SEND THE BACKEDN TO THTE FORNTEND-->
<script>
function set() {
   var getInput = Math.floor(Math.random() * 10000);
   localStorage.setItem("storageName",getInput);
   document.getElementById("randomNumber").innerHTML = getInput
}
import { exec } from 'child_process';
function saveFile() {
    var x = document.getElementById("inputfile").value;
    document.getElementById("filepathing").innerHTML = x;
}
</script>

</form>

</html>