body {
 margin: 0px;
 padding: 0px;
}

.larger {
    width: 30%
    
}
.centerimage {
    width: 30%;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.centerinput {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.centersubmit {
    width: 10%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
}
body {background-color: rgb(255, 255, 255);}
